!!!
%html
    %head
        %meta{ name: "viewport", content: "width=device-width"}
        %link{ rel: "stylesheet", href: "css/bootstrap.css" }
        %link{ rel: "stylesheet", href: "css/main.css" }
   
    %body.jumbotron.text-center
        %div.container
            %div.row
                %div.col-md-8
                    %h1#header_text Movie Search!
                %div.col-md-4
                    %div.author_info
                        %h3 By Nick Anderson
                        %h5
                            %a{href: "http://nickanderson.rocks/", target: "_blank"} Website
                            %a{href: "https://github.com/nickandersonr", target: "_blank"} Github
                            %a{href: "https://www.linkedin.com/in/nickandersonr", target: "_blank"} LinkedIn
                            %a{href: "mailto:nick.anderson.r@gmail.com", target: "_blank"} Mail

            %section.row#form
                %form.well#submission_form{onsubmit: "return false"}

                    %div.input_holder.row.form-group
                        %div.input.input--minoru.col-md-8.col-xs-12
                            %input.form-control.input__field.input__field--yoko#search_value{type: "text", placeholder: "Search a Title" }
                            %label.input__label.input__label--yoko{for: "input-16"}    
                                %span.input__label-content.input__label-content--yoko Title 
                                
                    

                        %div.input.input--minoru.submit_container.col-md-4.col-xs-12
                            %input.btn.input__field#search{type: "button", value: "search!" }
                            %label.input__label{for: "input-22"}
                                %span.input__label-content.input__label-content--yoko &nbsp;
                                

                %div.container#results
                    %section.content#results_container.col-md-8
                        %h2 Results
                        %table.table.table-striped
                            %thead
                                %tr.first 
                                    %th Favorite
                                    %th Title
                                    %th Year
                            %tbody
                                %tr
                                    
                    %section.content.col-md-4
                            
                        %aside.panel.hidden
                            %h2 Details
                            .panel-heading
                            .panel-body

                        %div#favorites.panel.hidden
                            %h2 Your Favorites:
                            .panel-body
                                %ul#favorite_list.list-group
        
                                    
                                        
                        %form.navbar-form.col-sm-12
                        %input.btn.input__field#reload_favorites{ type: "button", value: "Favorites" }

                            
            
            
            %script{ src: '/js/jquery-3.1.1.min.js', type: 'text/javascript' }
            %script{ src: '/js/classie.js', type: 'text/javascript' }
            %script{ src: '/js/main.js', type: 'text/javascript' }
            :javascript
                $(document).ready(function () {
                window.setInterval(function(){
                     var xhr = $.get("http://api.giphy.com/v1/gifs/search?q=classic+film+scene&api_key=dc6zaTOxFJmzC");
                        var random = Math.ceil(Math.random() * 21);
                        xhr.done(function(data) { 
                          $('html').css("background-image", 'url(https://media.giphy.com/media/' + data.data[random].id + '/giphy.gif)'); 
                        });
                    }, 5000);
                });
                (function() {
                    // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
                    if (!String.prototype.trim) {
                        (function() {
                            // Make sure we trim BOM and NBSP
                            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                            String.prototype.trim = function() {
                                return this.replace(rtrim, '');
                            };
                        })();
                    }

                    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                        // in case the input is already filled..
                        if( inputEl.value.trim() !== '' ) {
                            classie.add( inputEl.parentNode, 'input--filled' );
                        }

                        // events:
                        inputEl.addEventListener( 'focus', onInputFocus );
                        inputEl.addEventListener( 'blur', onInputBlur );
                    } );

                    function onInputFocus( ev ) {
                        classie.add( ev.target.parentNode, 'input--filled' );
                    }

                    function onInputBlur( ev ) {
                        if( ev.target.value.trim() === '' ) {
                            classie.remove( ev.target.parentNode, 'input--filled' );
                        }
                    }
                })();

