/*--- Overrides ---*/

.well {
    margin-bottom: 0;
    background: transparent;
    border-radius: 0;
    border: 0;
}
.list-group {
    margin-bottom: 0;
}
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #343434;
    border-color: #ddd;
}
.panel-heading strong {
    font-size: 22px;
}
.form-control {
    box-shadow: none;
}
.form-control:focus {
    background: transparent;
}
.form-control:focus {
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/*--- Basics ---*/

html {  
    background-repeat: no-repeat; 
    background: #000; 
    background-size: cover; 
    height: 100%;  
}

h3 {
    color: #FFF;
    font-weight: 700;
}
.input {
    display: block;
	position: relative;
	z-index: 1;
	display: inline-block;
	/* width: calc(100% - 2em); */
	vertical-align: top;
    float: left;
}
.input.col-md-10 {
    width: 70%;
}
.input.col-md-2 {
    width: 20%;
}
#search {
    background: #343434;
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 100%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field#search_value {
    padding: 0 10px;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--minoru.col-md-8.col-xs-12 {
    position: relative;
    top: 5px;
}

/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: #9bcbe2;
    font-size: 22px;
	color: #f5f5f5;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.input__field--yoko::-webkit-input-placeholder,
.input__field--yoko:-moz-placeholder,
.input__field--yoko::-moz-placeholder,
.input__field--yoko:-ms-input-placeholde {
   color: red;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #343434;
	text-align: left;
}
.input__label--yoko--submit {
	position: relative;
	width: 100%;
	color: #40b08a;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #9bcbe2;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__label--yoko--submit::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #4ac5a7;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #343434;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__label--yoko--submit::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #3cad79;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}


/* ------------ Layout
-------------------------- */

.jumbotron {
    background: transparent !important;
    padding: 0 !important;
}
.jumbotron > .container {
    margin-top: 6%;
}
#header_text {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 10px;
    color: #FFF;
    text-align: left;
}
.author_info {
    max-width: 400px;
    padding: 4px;
    /* background: rgba(255, 255, 255, .7); */
    margin: 20px auto;
    border-radius: 10px;
    text-align: right;
}
h3 {
    margin-top: 10px;
}
h5 a {
    color: #FFF;
    margin: 0 4px;
    text-decoration: underline;
}

#form h2 {
    color: #343434;
    opacity: 1;
}
#form {
    background: rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.11);
-moz-box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.11);
box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.11);
      padding-bottom: 0;
}

.input_holder {
    /* max-width: 775px; */
    margin: 0 auto;
}

.submit_container .input__label {
    display: none;
}

#results {
    margin-top: 0px;
    background: rgba(255, 255, 255, .7);
    text-align: left;
}
#results h2 {
    color: #343434;
    opacity: 1;
}
.result_item {
    background: #FFF;
    -webkit-box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.05);
    box-shadow: inset 0px 0px 21px -1px rgba(0,0,0,0.05);
    padding: 40px;
    text-align: left;
    color: #CCC;
    min-height: 144px;
    margin-bottom: 20px;
}
.result_item h3 {
    color: #454545;
    border-bottom: 1px solid #CCC;
    padding-top: 0;
    margin-top: 0;
}
.result_item p {
    float: left;
    padding: 0 !important;
    margin:  0 !important;
    font-size: 14px !important;
    color: #454545 !important;
}
table.table td {
    color: #3e3e3e;
}
tr.first {
    font-weight: 900;
}

.no_results {
    text-align: center;
}

.detail_holder div {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .input.col-md-10,
    .input.col-md-2 {
        clear: both;
        width: 100%;
    }
}