<div class="jumbotron text-center">
  <div class="container">
    <section id="contact_form">
        <h2>HELLO! Please send me a nice message.</h2>
        <span class="input input--minoru">
            <input class="input__field input__field--yoko" type="text" id="input-16" />
            <label class="input__label input__label--yoko" for="input-16">
                <span class="input__label-content input__label-content--yoko">First Name</span>
            </label>
        </span>
        <span class="input input--minoru">
            <input class="input__field input__field--yoko" type="text" id="input-17" />
            <label class="input__label input__label--yoko" for="input-17">
                <span class="input__label-content input__label-content--yoko">Last Name</span>
            </label>
        </span>
        <span class="input input--minoru">
            <input class="input__field input__field--yoko" type="text" id="input-18" />
            <label class="input__label input__label--yoko" for="input-18">
                <span class="input__label-content input__label-content--yoko">Address</span>
            </label>
        </span>
        <span class="input input--minoru">
            <input class="input__field input__field--yoko" type="text" id="input-19" />
            <label class="input__label input__label--yoko" for="input-19">
                <span class="input__label-content input__label-content--yoko">City</span>
            </label>
        </span>
        <span class="input input--minoru">
            <input class="input__field input__field--yoko" type="text" id="input-20" />
            <label class="input__label input__label--yoko" for="input-20">
                <span class="input__label-content input__label-content--yoko">State</span>
            </label>
        </span>
    </section> 
    <section id="results">
        <h2>This is what others have said.</h2>
        <div id="results_list">
        </div>
    </section>
   </div>
</div>

